.deps
*.la
*.lo
acinclude*
aclocal*
build
modules
include
install-sh
libtool
ltmain.sh
.libs
.svnignore
Makefile*
autom*
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
missing
mkinstalldirs
*.swp
